@inherits BaseCycleComponent

@inject StateService StateService

<h3>Update count via service: @StateService.SharedCounter</h3>

@code {

    protected override void OnInitialized()
    {
        StateService.OnChange += StateHasChanged;
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        StateService.OnChange -= StateHasChanged;
    }
}
