@implements IHandleEvent

@inherits BaseCycleComponent

<button @onclick="@EventUtil.AsNonRenderingEventHandler(HandleClick1)">@ChildContent</button>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task HandleClick1()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }

    Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object arg) => callback.InvokeAsync(arg);
}
