@implements IHandleEvent

@inherits BaseCycleComponent

<button @onclick="@OnClick">
    Press me
</button>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }
    
    Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object arg) => callback.InvokeAsync(arg);
}
