@*@implements IHandleEvent
*@
@inherits BaseCycleComponent

<button @onclick="@EventUtil.AsNonRenderingEventHandler(HandleClick)">
    @ChildContent
</button>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }

    // Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object arg) => callback.InvokeAsync(arg);
}
