@implements IHandleEvent

@inherits BaseCycleComponent

<button @onclick="@OnClick">@ChildContent</button>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object arg) => callback.InvokeAsync(arg);
}
