<div class="demo-list">
    <h2>Choose a demo</h2>
    <InputSelect title="Pick a demo" @bind-Value="@SelectedDemo" @bind-Value:after="@HandleDemo">
        <option value="pick">Pick a demo</option>
        @foreach (var demo in Demos)
        {
            <option value="@demo">@demo</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnChangeDemo { get; set; }
    
    private string SelectedDemo { get; set; }

    private List<string> Demos { get; set; } = Assembly.GetExecutingAssembly().ExportedTypes
        .Where(t => t.IsSubclassOf(typeof(BaseCycleComponent)))
        .Select(x=>x.Name)
        .ToList();

    private static string _projectName = Assembly.GetExecutingAssembly().FullName?.Split(",")[0];

    private async Task HandleDemo()
    {
        if (OnChangeDemo.HasDelegate)
        {
            await OnChangeDemo.InvokeAsync(SelectedDemo);
        }
    }
}
