h1 {
    
}

.demo-container {

}

.demo-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.demo-components {
    margin: 1rem;
    padding: 1rem;
    background: var(--background-color-darker);
}

.counter-result {
    margin: 1rem;
    font-size: 20px;
    font-weight: bold;
}