.counter {
    font-family: monospace;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: var(--counter-fill-color);
    color: var(--step-text-color);
    border-radius: 50%;
    border: 0.125rem solid var(--counter-stroke-color);
    padding: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    text-align: center;
}

.pulse {
    animation: pulse-animation 0.5s 1;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 var(--counter-pulse-color);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(0, 255, 0, 0);
    }
}