@inject LifeCycleService LifeCycleService

<div class="life-cycle-view">
    <CycleComponentTree OnClick="@ChangeCurrent"/>
    <ComponentLifeCycleView View="@LifeCycleService.Current"/>
</div>

@code
{
    private void ChangeCurrent(ComponentLifeCycleHistory component)
    {
        LifeCycleService.Current = component;
        StateHasChanged();
    }

}
